.back {
  color: black;
  text-decoration: none;
  position: relative;
  margin-top: 2em;
  margin-left: 140px;
  padding-bottom: 1em;
}

.goBack-groups {
  color: black;
  margin-left: 5px;
  text-decoration: none;
}

.goBack:hover {
  color: #3061e3;
  text-decoration: underline;
  font-weight: bold;
}

.group-details {
  margin: auto;
  width: 80%;
  display: flex;
}

.group-img-div {
  width: 60%;
  display: flex;
  justify-content: center;
  background: whitesmoke;
  border-radius: 15px;
}

.group-img {
  height: 350px;
  width: 525px;
  object-fit: contain;
}

.group-info {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-info h1 {
  margin-top: 0;
}

.group-info h3 {
  text-align: left;
}

.group-info h4 {
  color: rgb(175, 175, 175);
  margin: 10px 0px;
}

.group-btns button {
  background-color: #3061e3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.group-btns button:hover {
  box-shadow: 1px 1px 5px 1px black;
  color: #ffd700
}

body.dark-mode .group-btns button:hover {
  box-shadow: 1px 1px 5px 1px #ffd700;
}

.group-events-contain {
  margin-top: 2rem;
  background-color: blanchedalmond;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.group-events-info {
  width: 80%;
  margin: 0 auto;
}

.group-events-info h4 {
  color: gray;
}

.group-events-info ul {
  padding-left: 0;
}

.group-events-info li {
  background-color: white;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 1rem 0;
}

.group-about {
  border: 1px solid darkgrey;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem;
}

.group-about p {
  justify-self: center;
}
