#group-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10%;
    width: 80%;
}

.groupform-input {
    border-bottom: 2px solid lightgray;
    width: 500px;
}

#groupform-submit, #cancel-button {
    background-color: #3061e3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    margin-left: 10px;
    margin: 10px;
    height: 40px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 400;
    border: solid 1px;
}

#groupform-submit:hover, #cancel-button:hover {
    color: #FFD700;
    box-shadow: 1px 1px 5px 1px black;
}
