#group-details-contain {
    display: flex;
    flex-direction: column;
    /* padding-left: 5%; */
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}

#group-img-contain {
    display: flex;
    height: 400px;
    width: 600px;
    justify-content: center;
}

#group-img {
    width: 100%;
    height: 400px;
}

#details-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin: 20px 0;
}

.group-info {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.group-info > * {
    margin: 10px
}

#group-details-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-between;
}

.group-details {
    display: flex;
}

.group-details > * {
    margin: 0px 5px;
    align-self: flex-start;
}

.group-actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: fit-content;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group-actions > button {
    margin: 10px;
    font-size: large;
    font-weight: 700;
    box-shadow: 1px 2px 2px lightblue;
    border: 1px solid;
    border-radius: 5px;
    background-color: lightcyan;
}

.to-be-added {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: fit-content;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#join-button {
    margin: 10px;
    font-size: large;
    font-weight: 700;
    box-shadow: 1px 2px 2px lightblue;
    border: solid 1px;
    border-radius: 5px;
    background-color: lightcyan;

}

.group-actions > button:hover, #join-button:hover {
    color: #3061e3;
    box-shadow: 1px 1px 5px 1px #FFD700;
    border: none;
}

.back {
    position: relative;
    left: 7%;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.back:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #3061e3;
}


#extras-contain {
    display: flex;
    flex-direction: column;
    position: relative;
    /* left: 140px; */
    width: 100%;
    background-color: whitesmoke;
}

.group-about {
    word-wrap: break-word;
}

#confirm-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#confirm-delete>h2, span {
    align-self: center;
}

#confirm-delete>button {
    padding: 10px;
}

#delete-complete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#delete-cancel {
    background-color: darkgray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#delete-complete:hover, #delete-cancel:hover {
    color: black;
    box-shadow: 1px 1px 5px 1px black;
}
