#group-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10%;
    width: 80%;
}

.group-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding-bottom: 8px;
    color: #3061e3;
}

.groupform-input {
    border-bottom: 2px solid lightgray;
    width: 500px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#groupform-submit, #cancel-button {
    background-color: #3061e3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
}

#groupform-submit:hover, #cancel-button:hover {
    color: #FFD700;
    box-shadow: 1px 1px 5px 1px black;
}
