#event-list-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#events-title {
    position: relative;
    top: 20px;
    /* right: 215px; */
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 10px;
}

#event-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 500px;
}

.event-img {
    width: 200px;
    align-self: center;
}

.event-img-contain {
    display: flex;
    width: 210px;
    max-height: 210px;
}

.one-event-contain {
    display: flex;
    width: 750px;
    justify-content: center;
}

.one-event {
    display: flex;
    flex-direction: column;
    height: 250px;
    border-top: 1px solid lightgrey;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    padding: 15px;
}

.one-event > * {
    margin: 5px;
}

.one-event:hover {
    cursor: pointer;
    border: 2px solid #da2528;
    border-radius: 1em;
    background-color: #FFE5B4;
    box-shadow: 5px 5px 5px grey;
    color: #3061e3;
}

.event-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 5px;
}

.event-display > * {
    margin: 5px;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 65%;
    bottom: 35px;
    word-wrap: break-word;
    padding-top: 25px;
}

.event-info > * {
    margin: 0px;
    font-weight: 400px;
}

.event-description {
    display: flex;
    flex-direction: row;
    align-self: left;
    word-wrap: break-word;
}

.event-description > h5 {
    margin: 10px;
}

.event-name {
    word-wrap: break-word;
}
