.event-list,
.manage-events-contain {
  margin: auto;
  width: 80%;
}

.links-to {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.links-to .active {
  color: #3061e3;
  pointer-events: none;
}

.links-to a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding-right: 1.5rem;
}

.links-to a:hover {
  color: #3061e3;
  text-decoration: underline;
}

.manage-events-contain h1,
h3 {
  text-align: center;
}

.each-event {
  padding-left: 0;
}

.each-event li {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.each-event li > a {
  display: block;
  padding: 1rem;
  border-radius: 20px;
}

.each-event li:hover {
  background-color: #ffe5b4;
  display: block;
  border-radius: 20px;
}

.each-event h3,
h4 {
  padding-bottom: 15px;
}

.event-item-contain {
  display: flex;
}

.event-img-contain {
  min-width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.event-img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 20px;
}

.event-info {
  margin-left: 1rem;
  position: relative;
  text-decoration: none !important;
}

.event-info > * {
  text-decoration: none;
}

.event-info h2 {
  margin: 0;
}

.event-info h3 {
  color: #3061e3;
  font-weight: 100;
  text-align: left;
}

.event-info h4 {
  color: lightgrey;
}

.event-description {
  margin-top: 1rem;
}

.event-btn-contain {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  margin-top: 1rem;
  background-color: transparent;
  z-index: 1;
}

.event-btn-contain button {
  background-color: #3061e3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 5px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.event-btn-contain button:hover {
  box-shadow: 1px 1px 5px 1px black;
  color: #ffd700;
}

body.dark-mode .event-btn-contain button:hover {
  box-shadow: 1px 1px 5px 1px #ffd700;
}

.event-btn-contain div {
  background-color: #3061e3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.event-btn-contain div:hover {
  box-shadow: 1px 1px 5px 1px black;
}

body.dark-mode .event-btn-contain div:hover {
  box-shadow: 1px 1px 5px 1px #ffd700;
}
