#group-list-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#group-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 500px;
}

#groups-title {
    position: relative;
    top: 20px;
    /* right: 215px; */
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.group-img {
    width: 210px;
    max-height: 210px;
    align-self: center;
}

.group-img-contain {
    display: flex;
}

.one-group-contain {
    width: 750px;
}

.one-group {
    display: flex;
    flex-direction: row;
    height: 250px;
    border-top: 1px solid lightgrey;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    padding: 15px;
}

.one-group > * {
    margin: 5px;
}

.one-group:hover {
    cursor: pointer;
    border: 2px solid #da2528;
    border-radius: 1em;
    background-color: #FFE5B4;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
    color: #3061e3;
}

.group-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    word-wrap: break-word;
}

.group-info > * {
    margin: 0px;
}

.group-description {
    display: flex;
    flex-direction: row;
}

.group-description > h5 {
    margin: 10px;
}

.group-name {
    word-wrap: break-word;
}
