/* TODO: Add sitewide styles */
* {
    /* color: 	#3061e3; */
    font-family: 'Roboto', serif;
    margin: 0;
}

body {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    background-color:rgb(248, 255, 229)
}

.fa-ring {
    color: #FFD700
}

button:hover {
    cursor: pointer;
}

.error-msg {
    color: red
}
